Here are the names listed in the image, one by one:

Prof. Nayantara Mitra

Dr. Biswajit Maity

Prof. Pritam Chakraborty

Dr. Priyanka Das

Prof. Sucheta Chandra

Prof. Ankan Bhowmik

Prof. Deepika Sayaji Dalvi

Prof. Abriti Paul

Prof. Sreelekha Biswas

Dr. SAMIK DATTA

Prof. Saikat Mondal

Prof. Ankita Mandal

Dr. Goldina Ghosh

Dr. Monoj Kumar Muchahari

Dr. Dipankar Das

Prof. SHRAMANA DUTTA

Prof. Manjima Saha

Prof. Pritha Banerjee

Prof. Kaustav Sarkar

Prof. Manab Kumar Das

Dr. Priti Deb

Prof. Swikriti Saha

Ms. Sanjukta Mukherjee

Ms. Antara Roy

Mr. Suman Paul

Ms. Shrestha Gupta

Dr. Vijay Yadav

JHULAN BEDIA

Sourav Pramanik
